.forImage{
  background-image: url(../assets/header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}
